// Common
// Color Class
.color {
    &-white{
        color: @white;
    }
}
.bold{
    font-weight: 700!important;
}
// Modified a
a {
    text-decoration: none;
    outline: none;
    cursor: pointer;
    &:hover {
        text-decoration: none;
    }
    &:focus {
        text-decoration: none;
    }
    &:visited{
        text-decoration: none;
    }
}
// Section
.background-section {
    background-image: url(../images/background.png);
    background-repeat: repeat;
}
.section {
    &-box{
        padding-top: 100px;
        padding-bottom: 100px;
        @media screen and (max-width: @screen-xs-max) {
            padding-top: 50px;
            padding-bottom: 50px;
        }

    }
    &-blue{
        background-color: rgba(109, 148, 142, 0.2);
    }
}
// Heading
.heading{
    &-1{
        font-size: 70px;
        &.title{
            font-family: @font-playFair;
        }
    }
    &-2 {
        font-size: 44px;
        margin: 0 0 20px;
        @media screen and (max-width: @screen-xs-max) {
            font-size: 30px;
        }
        &.title{
            font-family: @font-playFair;
        }
    }
    &-3{
        font-size: 36px;
        .accordion-body_item__content &{
            margin-top: 0;
            margin-bottom: 25px;
        }
    }
    &-4{
        font-size: 20px;
    }
    &-5 {
        font-size: 25px;
        font-family: @font-playFair;
    }
    &-sub {
        font-size: 14px;
    }
    &-2{
        font-family: @font-dScript;
    }
    &-3,&-4{
        font-family: @font-openSans;
    }
}

p{
    font-family: @font-openSans;
}
// Button
.btn {
    &.active{
        .box-shadow(none);
        outline: none;
        &:focus{
            outline: none;
        }
    }
    &:focus{
        outline: none;
    }
    &-big{
        padding: 20px 35px;
        font-size: 18px;
        .border-radius(0);        
    }
    &-xl{
        padding: 20px 50px;
        font-size: 18px;
        .border-radius(0);        
    }
    &-outline-dark{
        color: #343a40;
        background-color: transparent;
        background-image: none;
        border-color: #343a40;
        .transition(all ease .7s);
        &:hover {
            background-color: #343a40;
            color: @white;
            .transition(all ease .7s);
        }
    }
    &-accordion {
        background-color: transparent;
        font-size: 16px;
        position: relative;
        margin-left: 5px;
        margin-right: 5px;
        outline: none;
        &.active, &:hover {
            &:before {
                content: '';
                position: absolute;
                top: auto;
                left: 50%;
                bottom: -1px;
                width: 100%;
                height: 2px;
                background-color: @color;
                .transform(translateX(-50%));
            }
        }
    }
}