.container{
    &-content{
        margin: 0 auto;
    }
    &-head, &-content{
        text-align: center;
        position: relative;     
    }
    &-head{
        margin: 0 auto;
    }
    @media screen and (min-width: @screen-sm) {
        &-content, &-head{
            max-width: 70%;
        }
    }
}
.decor-img{
    @media screen and (max-width: @screen-xs-max) {
        display: none;
    }
    position: absolute;
    &.top-left{
        top: -150px;
        left: 0;
    }
    &.right-bottom{
        top: auto;
        left: auto;
        right: 0;
        bottom: -75px;
    }
}