.container{
    &-content{
        margin: 0 auto;
        width: 60%;
    }
    &-head, &-content{
        text-align: center;
        position: relative;     
    }
    &-head{
        max-width: 50%;
        margin: 0 auto;
    }
}
.decor-img{
    position: absolute;
    &.top-left{
        top: -150px;
        left: 0;
    }
    &.right-bottom{
        top: auto;
        left: auto;
        right: 0;
        bottom: -75px;
    }
}