mixin accordion (imgSrc, addressItem, dateItem)
    .accordion-body_item__inner    
        .row
            .col-sm-12.col-lg-6
                .accordion-body_item__img(style="background-image: url(" + imgSrc + ")")
            .col-sm-12.col-lg-6
                .accordion-body_item__content
                    h3.heading-3.title When and Where
                    .info
                        .item.item-location
                            <i class="fas fa-2x fa-map-marker-alt"></i>
                            p!= addressItem
                        .item.item-clock
                            <i class="far fa-2x fa-clock"></i>
                            p!= dateItem
                        .item.bold Keep it classy
                    +link('View on Map', 'javascript:void(0)').btn.btn-big.btn-outline-dark.btn-view

mixin event-info (title)
    .event-info
        h4.heading-4.bold!= title
        if block
            block
        else
            !=text