.box{
    &-container{
        margin-top: 50px;
        margin-bottom: 50px;
        &_blogItem{
            margin-bottom: 30px;
            &:hover{
                .thumb{
                    -webkit-filter: grayscale(100%);
                    filter: grayscale(100%);
                    transition: .3s ease-out;
                }
            }
            .thumb{
                transition: .3s ease-out;
            }
            .landscape{
                padding-top: 56.25%;
                
            }
            .portrait{
                padding-top: 150%;
            }
            .content {
                padding: 15px;
                background-color: $white;
                box-shadow: 0px 50px 100px 0px rgba(37, 46, 89, 0.08);                
                .date{
                    font-size: 14px;
                    color: rgba(25, 23, 23, 0.6);
                }
                .title{
                    color: $black;
                    font-size: 20px;
                    font-weight: 600;
                    &:hover {
                        color: $pelorous;
                    }
                }                
            }
            .name{
                font-size: 25px;
                font-weight: 600;
            }
            .role {
                font-size: 18px;
                font-weight: 600;
            }
            @media screen and (max-width: 991px) {
                margin-bottom: 30px;
            }
        } 
    }
    &-img{
        img{
            width: 100%;
        }
    }
    &-content {
        width: 100%;
        align-self: center;
        div{
            &:only-child{
                margin: 0;
            }
        }
        
    }
    &-post{
        margin-bottom: 60px;
    }
    @media screen and (max-width: $screen-sm-max) {
        &-content{
            margin-top: 20px;
        }
        &-post{            
            margin-bottom: 15px;            
        }
    }
}
.meta-data{
    font-size: 14px;
    font-weight: 600;
    color: $pelorous;
    margin: 15px 0;
    .item{
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
    }
}
.text{
    font-size: 16px;
    margin: 20px 0; 
}