.btn{
    font-size: 16px;
    border-radius: 5px;
    transition: 0.3s ease-out;
    cursor: pointer;
    &-join{
        color: $white;
        text-transform: uppercase;
        font-weight: 800;        
        background: linear-gradient(0deg, #6501a1 0%, #a730b2 100%);
        &:hover {
            color: $white;
            background: linear-gradient(90deg, #6501a1 0%, #a730b2 100%);            
        }
    }
    &-buy{
        background-color: $white;
        text-transform: uppercase;
    }
    &-checkout{
        color: $white;
        background-color: rgba(255, 255, 255, 0.1);
        font-weight: 600;
        &:hover{
            color: $pelorous;
            background-color: $white;
        }   
    }
    &-submit {
        color: $white;
        text-transform: uppercase;
        font-weight: 800;        
        background: linear-gradient(0deg, #6501a1 0%, #a730b2 100%);        
        &:hover {
            color: $white;
            background: linear-gradient(90deg, #6501a1 0%, #a730b2 100%);            
        }
        .searchbar-box & {
            position: absolute;
            top: 0;
            left: auto;
            right: 0;
            height: 100%;
            border-radius: 0;
            background: $pelorous;
            &:hover {
                background: $lucky-point;
            }
        }
    }
    &:hover{
        transition: 0.3s ease-out;
    }
}
.back-to-top{
    position: fixed;
    display: block;
    right: 30px;
    bottom: 30px;
    width: 50px;
    height: 50px;
    background: linear-gradient(0deg, #6501a1 0%, #a730b2 100%);
    color: #fff;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 99;
    transition: all 0.5s ease-in;
    i{
        transform: rotate(-45deg);
    }
}
.read-more{
    text-transform: capitalize;
    color: $lucky-point;
    font-size: 14px;
    &:hover{
        color: $pelorous;
    }
}