extends layouts/layout

block vars
  -title = 'Homepage'
  -bodyClass = 'home'
  -menuIndex = 0

block container
  main.main-container
    include ./blocks/components/hero-banner
    include ./blocks/pages/homepage/intro
    include ./blocks/pages/homepage/date
    include ./blocks/pages/homepage/event
    include ./blocks/pages/homepage/gallery
    include ./blocks/pages/homepage/wish
    include ./blocks/pages/homepage/gift
    include ./blocks/pages/homepage/rsvp