.header-section {
    .text-banner{
        text-align: center;               
        z-index: 5;        
        color: $white;
        width: 100%;        
        @media screen and (max-width: $screen-xs-max) {
            margin-bottom: 100px;
            position: relative;
        }
        @media screen and (min-width: $screen-sm) {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            .heading{
                &-title{
                    letter-spacing: 10px
                }
            }
        }
    }
}
.section-title{
    text-align: center;    
}
.album-wrapper {
    &-item{
        margin-bottom: 50px;
        @media screen and (max-width: $screen-xs-max) {
            margin-bottom: 25px;
        }
    }
    .box-content{
        align-self: center;
        .social-links{
            li{
                margin-right: 20px;
                a{
                    color: $black;
                }
            }
        }
    }
}
// Gallery
.discography-section{
    padding-bottom: 50px;
    padding-top: 50px;
    .carousel-wrapper{        
        margin-top: 50px;
    }
    @media screen and (min-width: $screen-lg) {
        padding-top: 100px;
        padding-bottom: 25%;
        .carousel-wrapper{
            position: absolute;
            width: 100%;
        }
    }
}
.gallery-wrapper{
    position: relative
}
.band-section{
    @media screen and (min-width: $screen-lg) {
        padding-top: 250px;
    }
}
// Advertisement
.advertise-wrapper {
    .heading-subtitle {
        font-size: 14px;
    }
    .notice{
        margin: 25px 0;
        text-transform: uppercase;
        @media screen and (min-width: $screen-sm) {
            font-size: 50px;
        }
    }
    .btn-buy {
        padding: 15px 30px;        
        &:hover {
            background-color: $lucky-point;
            span{
                background: -webkit-linear-gradient(0deg, #fff 0%, #fff 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
}
// Form join
.form{
    &-join{
        form{
            width: 100%;
            position: relative;
        }
        input{
            height: 60px;
            width: 100%;
            background-color: #fff;
            border-radius: 5px;
            border: 0px;
            box-shadow: 0px 5px 100px 0px rgba(37, 46, 89, 0.1);
            padding: 0px 30px;
            font-size: 16px;
            color: #252e59;
            box-shadow: none;
            &:focus{
                box-shadow: none;
            }
        }
        .btn-join{
            position: absolute;
            top: 0;
            left: auto;
            right: 0;
            border: none;
            min-width: 120px;
            height: 60px;
        }
        align-self: center;
        width: 100%;
        @media screen and (max-width: $screen-sm-max) {
            margin-top: 20px;
        }
        @media only screen and (max-width: 330px) {
            .btn-join {
                position: static;
                width: 100%;
                margin-top: 10px;
            }
        }
    }
}