section.blog-section.blog-love.background-section.section-box
    .container
        .container-inner
            .row
                .col-sm-12.col-md-8
                    include ../../components/block-blogs
                    include ../../components/pagination
                .col-sm-12.col-md-4
                    include ../../components/block-asides
                    