section.section-box.background-section.post-section.post-story
    .container
        .container-inner
            .row
                .col-sm-12.col-md-8
                    include ../../components/block-details                    
                .col-sm-12.col-md-4
                    include ../../components/block-asides
