//include ../mixins/all

header.main-header
  +link('Logo', 'index.html').logo
    +img('Joseph & Sophia', 'images/logoPC.png').logo-pc
    +img('Joseph & Sophia', 'images/logoMb.png').logo-mb
  nav.main-menu
    +nav([{title: 'Home', href: 'index.html'},
      {title: 'single post', href: 'single-post.html'},
      {title: 'Blog', href: 'blog.html'},
      {title: 'rsvp', href: 'javascript:void(0)',}
      ])
    .nav-item
      ul
        li 
          +link('facebook', 'javascript:void(0)').social-link.facebook
            <i class="fab fa-2x fa-facebook-square"></i>
        li 
          +link('twitter', 'javascript:void(0)').social-link.twitter
            <i class="fab fa-2x fa-twitter-square"></i>
        li
          +link('test', 'javascript:void(0)').social-link.pinterest
            <i class="fab fa-2x fa-pinterest-square"></i>
    .registry © Joseph and Sophia 2018.
  button.nav-toggle
    span.icon-bar
    span.icon-bar
    span.icon-bar

