//include ../mixins/all

header.main-header
  +link('Logo', 'index.html').logo
    +img('Joseph & Sophia', '../images/logoPC.png')
  nav.main-menu
    +nav([{title: 'Home', href: 'index.html'},
      {title: 'events', href: 'javascript:void(0)'},
      {title: 'Gallery', href: 'javascript:void(0)'},
      {title: 'rsvp', href: 'javascript:void(0)'},
      {title: 'pages', href: 'javascript:void(0)'}])
    .nav-item
      ul
        li 
          +link('facebook', 'javascript:void(0)').social-link.facebook
            <i class="fab fa-2x fa-facebook-square"></i>
        li 
          +link('twitter', 'javascript:void(0)').social-link.twitter
            <i class="fab fa-2x fa-twitter-square"></i>
        li
          +link('test', 'javascript:void(0)').social-link.pinterest
            <i class="fab fa-2x fa-pinterest-square"></i>

