.form{
    &-groups{
        position: relative;
        label{
            color: $dark;
            font-weight: bold;
        }
    }
    &-control{
        display: block;
        width: 100%;
        background: $white;
        border: 1px solid $light-gray;
        min-height: 50px;
        padding: 10px;
        margin: 10px 0;
        &::placeholder{
            color: $light-gray;
        }
    }
    &-reply {
        margin: 20px 0;
        .form-groups{
            margin-bottom: 20px
        }
    }
    &-contact{
        padding-top: 20px;
    }
}