html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

html,
body {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  overflow: hidden;
  overflow-y: auto; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

:focus {
  outline: 0;
  border: none; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

p {
  text-decoration: none;
  font-weight: normal;
  font-size: 100%;
  -webkit-text-size-adjust: none; }

strong {
  text-decoration: none;
  font-weight: bold; }

cite,
em,
i,
pre,
code,
ins {
  text-decoration: none; }

sup {
  text-decoration: none;
  bottom: 5px;
  font-size: 70%;
  vertical-align: baseline;
  font-weight: normal;
  position: relative; }

dl dt {
  text-decoration: none; }

dd {
  text-decoration: none; }

mark {
  text-decoration: none;
  font-weight: normal;
  vertical-align: baseline; }

del {
  text-decoration: line-through; }

img[alt] {
  font-size: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0px; }

body {
  background-color: #ffffff; }

.container {
  position: relative;
  height: 100%; }

.clearfix {
  clear: both;
  width: 100%; }

@media (max-width: 1024px) {
  .form-group-select::after {
    display: none; } }

.main-sidebar {
  width: 80px;
  height: 100vh;
  background-color: #2c2d32; }
  .main-sidebar .logo {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center; }
    .main-sidebar .logo a {
      position: relative;
      width: 100%;
      height: 40px;
      display: inline-block; }
    .main-sidebar .logo .center-circle {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%); }

.main-menu {
  text-align: center; }
  .main-menu .menu-text {
    font-family: "Titillium Web", sans-serif;
    font-size: 13px;
    color: #b3b2b2;
    text-transform: uppercase; }
  .main-menu .menu .nav-bar .nav-link {
    margin: 15px 0; }
    .main-menu .menu .nav-bar .nav-link a {
      color: #f3f3f3;
      position: relative;
      height: 40px;
      width: 40px;
      display: inline-block;
      line-height: 40px;
      border: 1px solid rgba(255, 255, 255, 0.08);
      transition: ease-out .5s;
      -webkit-transition: ease-out .5s; }
    .main-menu .menu .nav-bar .nav-link .menu-name {
      position: absolute;
      color: #f3f3f3;
      background-color: #2c2d32;
      display: block;
      text-transform: uppercase;
      font-size: 13px;
      height: 25px;
      line-height: 25px;
      padding: 0px 20px;
      top: 50%;
      left: 0;
      z-index: -1;
      opacity: 0;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      border-radius: 3px;
      -webkit-border-radius: 3px;
      transition: all linear .3s;
      -webkit-transition: all linear .3s; }
      .main-menu .menu .nav-bar .nav-link .menu-name:before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -10px;
        border-width: 5px;
        border-color: transparent;
        border-style: solid;
        border-right-color: #2c2d32; }
    .main-menu .menu .nav-bar .nav-link.active a {
      border-color: #ff4e3d;
      color: #ff4e3d; }
    .main-menu .menu .nav-bar .nav-link:hover a {
      border-radius: 50%;
      transition: ease-out .5s;
      -webkit-transition: ease-out .5s; }
    .main-menu .menu .nav-bar .nav-link:hover .menu-icon {
      color: #f3f3f3;
      transition: ease-out .5s;
      -webkit-transition: ease-out .5s; }
    .main-menu .menu .nav-bar .nav-link:hover .menu-name {
      left: 100%;
      margin-left: 25px;
      opacity: 1;
      transition: all linear .3s;
      -webkit-transition: all linear .3s; }

.logo .center-circle {
  width: 25px;
  height: 25px;
  background-color: #ff4e3d;
  display: inline-block;
  border-radius: 50%;
  -webkit-border-radius: 50%; }
