.gallery-love{
    position: relative;
    background-size: cover;
    background-position: center;
    &:before{
        content: '';
        background: rgba(245, 226, 228, 0.5);
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
    }
}

.container-carousel {
    margin-top: 80px;
    margin-bottom: 100px;
    position: relative;
    .slick-gallery{
        &_number{
            position: absolute;
            left: 50%;
            top: auto;
            bottom: -80px;
            font-size: 30px;
            .transform(translateX(-50%));            
            div, span {
                margin: 0 5px;
                display: inline-block;
                vertical-align: middle;
            }
        }
        .slider-item{
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            padding-top: 5%;
            margin: 0 20px;
        }
    }
}