section.date-section.date-wedding.section-box.section-blue
    .container
        .container-inner
            .container-head
                figure.figure-img
                    +img('Love Story', '../images/decor/date-flowers.png').img-responsive
                h2.heading-2 Jun 11th, 2019
                h5.heading-5 The Riverside Church <br> New York, USA
            #clockcountdown
                .item
                    span.days
                    .smalltext Days
                .item
                    span.hours
                    .smalltext Hours
                .item
                    span.minutes
                    .smalltext Minutes
                .item
                    span.seconds
                    .smalltext Seconds
