section.section-box.gallery-section.gallery-love(style="background-image: url('../images/event/gallery.png')")
    .container
        .container-inner
            .container-head                
                h2.heading-2 Gallery
                h3.heading-sub Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            .container-carousel
                //- var n = 1
                .slick-gallery
                    .slider-item(style="background-image:url(../images/slider/gallery-1.jpg)")
                    .slider-item(style="background-image:url(../images/slider/gallery-2.jpg)")
                    .slider-item(style="background-image:url(../images/slider/gallery-3.jpg)")
                    .slider-item(style="background-image:url(../images/slider/gallery-4.jpg)")
                    .slider-item(style="background-image:url(../images/slider/gallery-5.jpg)")