section.section-box.section-blue.gift-section.gift-registry
    .container
        .container-inner
            .container-head                
                h2.heading-2 Gift Registry
                h3.heading-sub Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            .container-carousel
                .slick-gift
                    .slider-item
                        .slider-item_img: +img('wish-1', '../images/slider/gift1.png').img-responsive                        
                    .slider-item
                        .slider-item_img: +img('wish-2', '../images/slider/gift2.png').img-responsive                        
                    .slider-item
                        .slider-item_img: +img('wish-3', '../images/slider/gift3.png').img-responsive
                    .slider-item
                        .slider-item_img: +img('wish-3', '../images/slider/gift4.png').img-responsive
                    .slider-item
                        .slider-item_img: +img('wish-3', '../images/slider/gift1.png').img-responsive
                    .slider-item
                        .slider-item_img: +img('wish-3', '../images/slider/gift2.png').img-responsive
                    .slider-item
                        .slider-item_img: +img('wish-3', '../images/slider/gift3.png').img-responsive
                    .slider-item
                        .slider-item_img: +img('wish-3', '../images/slider/gift4.png').img-responsive