section.section-box.background-section.wish-section.wish-love
    .container
        .container-inner
            .container-head                
                h2.heading-2 Wish
                h3.heading-sub Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            .container-carousel
                .slick-wish
                    .slider-item
                        .slider-item_img: +img('wish-1', '../images/slider/person1.jpg').img-circle.img-responsive
                        .slider-item_content
                            .author Alex Cooper
                            p "With warm congratulations to a very special pair. May you always find in each other the love, laughter and happiness that only partners in life share!"
                    .slider-item
                        .slider-item_img: +img('wish-2', '../images/slider/person2.jpg').img-circle.img-responsive
                        .slider-item_content
                            .author Mary Alen
                            p "True love stories never end! Happy wedding day and may there be many more chapters in the wonderful story of your love for one another."
                    .slider-item
                        .slider-item_img: +img('wish-3', '../images/slider/person3.jpg').img-circle.img-responsive
                        .slider-item_content
                            .author John Colen
                            p "A wedding wish for two special person: love is best when shared by two. You know that together you are stronger, together you are one. Have a wonderful married life!"