section.blog-banner-section
    .blog-banner-wrapper    
        .blog-image
            +img('blog-image', 'images/banner/banner-blog.jpg').img-responsive
        .blog-content.color-white
            h2.heading-1.title Our Blog
            p.heading-5 Find our best stories in these articles. Enjoy the reading and our love