section.hero-banner.hero-banner-section
    .hero-image(style="background-image: url(images/banner/banner-hero.jpg)")
    .hero-mask
        +img('mask', 'images/banner/banner-mask.png').img-responsive

