nav.pagination
    ul
        li.page-item.disabled
            span.page-link Previous
        li.page-item.active
            span.page-link 1
        li.page-item
            span.page-link 2
        li.page-item
            span.page-link 3
        li.page-item
            span.page-link Next