.logo {
    .center-circle {
        width: 25px;
        height: 25px;
        background-color: $sunset-orange;
        display: inline-block;
        border-radius: 50%;
        -webkit-border-radius: 50%;
    }
}
.bg-img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}