.logo {
    .center-circle {
        width: 25px;
        height: 25px;
        background-color: $sunset-orange;
        display: inline-block;
        border-radius: 50%;
        -webkit-border-radius: 50%;
    }
}